html {
  position: relative;
  min-height: 100%;
}

html, body {
    background-color: #333333;
}

body {
  /* Margin bottom by footer height */
  margin: 20px 0 20px 0;
  color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

canvas {
    border: 2px solid black;
}

#divNowDrawing, #divSplash, #divCreateRoom, #divPrepareGame, #divGame, #alertNoPlayers {
    display: none;
}

#teams > .form-row {
    padding-bottom: 10px;
}

#alertNoPlayers, #divNowDrawing {
    margin-top: 10px;
}

#imgSplash {
    width: 50%;
}