html {
  position: relative;
  min-height: 100%;
}

html, body {
    background-color: #333333;
}

body {
  color: white;
  margin: 40px 0;
}

canvas {
    border: 2px solid white;
    border-radius: 0.25rem;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}

#divNowDrawing, #divSplash, #divCreateRoom, #divPrepareGame, #divGame, #btnGuessed, #alertNoPlayers {
    display: none;
}

.form-row {
    padding-bottom: 10px;
}

#alertNoPlayers {
    margin-top: 10px;
}

#drinkModal {
    color: #333333;
}

#spanArtist {
    margin-bottom: 20px;
}

#btnCreateRoom {
    margin-top: 20px;
}

#fullscreen {
    position: absolute;
    top: 5px;
    right: 5px;
    display: none;
}