@page
@model DrunkDoodle.Server.Pages.AudienceModel
@{
    ViewData["Title"] = "Audience";
}

<div class="container" id="game">
    <div id="divSplash">
        <h1 style="text-align: center" class="mx-auto d-block">DrunkDoodle</h1>
        <img id="imgSplash" class="mx-auto d-block" src="/images/splash.png" />
    </div>
    <div id="divGame">
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-end" style="width: 300px;">
                <div>
                    <b id="countdown"><i class="far fa-clock"></i></b>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <canvas id="audienceCanvas" height="300" width="300"></canvas>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/audience.js"></script>
    <script src="~/js/both.js"></script>
}
