@page
@model IndexModel
@{
    ViewData["Title"] = "Artist";
}

<h2>Artist</h2>
<div class="container">
    <form>
        <div id="teams" class="form-group">
            <label>Teams</label>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Team number">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Team number">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Team number">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Team number">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Team number">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Team number">
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-dark" id="btnCreateRoom">Create room</a>
    </form>
    <div class="d-flex justify-content-between" style="width: 300px;">
        <div class="float">
            <b id="word"></b>
        </div>
        <div></div>
        <div class="float-right">
            <b id="countdown"></b>
        </div>
    </div>
    <canvas id="artistCanvas" height="300" width="300"></canvas>
    <div>
        <p>
            <a class="btn btn-dark" id="roomId"></a>
        </p>
        <p>
            <a class="btn btn-success" id="btnStartRound">Start game</a>
        </p>
    </div>
    <div id="divNowDrawing">
        <p>Now drawing: <span id="spanArtist"></span></p>
        <p>
            <a class="btn btn-info" id="btnReady">Ready!</a>
        </p>
    </div>
</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/artist.js"></script>
    <script src="~/js/both.js"></script>
}