@page
@model IndexModel
@{
    ViewData["Title"] = "Artist";
}

<div class="container" id="game">
    <div id="divSplash">
        <!-- <h1 style="text-align: center" class="mx-auto d-block">DrunkDoodle</h1> -->
        <img id="imgSplash" class="img-fluid" src="/images/splash.png" />
    </div>
    <div id="divCreateRoom">        
        <form>
            <h4>Players</h4>
            <div id="teams">
                <div class="form-row">
                    <div class="col">
                        <label>Name</label>
                        <input type="text" class="form-control" placeholder="John">
                    </div>
                    <div class="col">
                        <label>Team #</label>
                        <input type="text" class="form-control" placeholder="1">
                    </div>
                </div>
            </div>            
            <div class="form-row d-flex justify-content-center">
                <a id="btnAddPlayerRow" class="btn btn-secondary"><i class="fas fa-plus-circle"></i></a>
            </div>          
            <h4>Drinking penalty</h4>
            <div class="form-row">      
                <div class="col">
                    <select class="form-control" id="penaltyAmount">
                        <option>1</option>
                        <option selected>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-control" id="penaltyType">
                        <option selected>sips</option>
                        <option>shots</option>
                    </select>
                </div>                
            </div>
            <h4>Language</h4>
            <div class="form-row">      
                <div class="col">
                    <select class="form-control" id="wordLanguage">
                        <option selected>English</option>
                        <option>Danish</option>
                    </select>
                </div>
            </div>
            <button type="submit" href="#" class="btn btn-primary" id="btnCreateRoom">Create room</button>
        </form>
        <div id="alertNoPlayers" class="alert alert-warning">You can't start a game with no players!</div>
    </div>
    <div id="divPrepareGame">
        <h4>Prepare game</h4>
        <p>
            Before starting the game, open this link on <i>audience</i> device(s):            
        </p>
        <p style="max-width: 500px;">
            <input readonly style="width:90%; border-radius: 4px; border: 0px; padding: 5px;" class="" id="roomId" /> <span onclick="copyToClipboard()">📋</span>
        </p>
        <p>
            Then, click this button to start the game as the <i>artist</i> device:
        </p>
        <p>
            <a class="btn btn-success" id="btnStartRound">Start game</a>
        </p>
    </div>
    <div id="divGame">
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-between" style="width: 300px;">
                <div>
                    <b id="word">Word</b>
                </div>
                <div></div>
                <div>
                    <b id="countdown"><i class="far fa-clock"></i></b>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <canvas id="artistCanvas" height="300" width="300"></canvas>
        </div>
        <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-center">
                <a class="btn btn-success" id="btnGuessed" style="width: 300px;">Word guessed!</a>
            </div>
        </div>   
        <div class="d-flex justify-content-center">
            <div id="divNowDrawing" style="width: 300px;">
                <small class="text-muted">Now drawing:</small><br>
                    <h3 id="spanArtist"></h3>
                <p>
                    <a class="btn btn-info" id="btnReady">Ready!</a>
                </p>
            </div>
        </div>            
    </div>
</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/artist.js"></script>
    <script src="~/js/both.js"></script>
}